@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
	font-family: 'PT Sans', sans-serif;
}

.hidden {
	display: none;
}

.content-wrapper {
	max-width: 90%;
	margin: 0 auto;
	padding-top: 60px;
}
