body {
  position: relative;
}

.header {
	background-color: $primaryColor;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.header__title { 
	color: #fff;
	padding-top: 14px;
	position: fixed;
	right: 5%;
}

.header__title { 
	color: #fff;
	padding-top: 14px;
	position: fixed;
	right: 5%;
}